* {

  font-family: "Raleway", sans-serif;
}

header {

  color: #7482E1;
  background-color: #DBDBDC;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

h1 {

  font-size: 50px;
}

.header-buttons {

  font-size: 20px;
  height: 50px;
  width: 150px;
  color: white;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.modal-body {

  margin: 10px 0;
}

.modal-header {

  border: 0;
}

.modal-header .modal-title {

  width: 100%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group span {
  margin-right: 5px;
}

.form-control {

  margin: 10px 0;
  width: auto;
  flex-grow: 1;
}

.form-control:focus {

  outline: 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-primary {

  background-color: #7482E1;
}

.btn-primary:hover {

  background-color: #2374F7;
}

.modal-footer {

  border: 0;
}

.shown-input {

  margin: 50px;
  color: #7482E1;
}

.tracker {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.income-tracker,
.expense-tracker {

  border: 5px solid #7482E1;
  border-radius: 20px;
  flex: 1;
  margin: 0 10px;
}

.tracker-h2 {

  text-align: center;
  color: #7482E1;
  margin: 20px;
}

.graph-container {

  display: flex;
  flex-direction: row;
}

.graph {

  margin: 50px 0;
  text-align: center;
  color: #7482E1;
}

.container {

  margin-top: 60px;
}

footer {

  text-align: center;
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  color: #7482E1;
  padding: 10px;
}

footer p {

  font-size: 20px;
}

footer a {

  color: inherit;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch {

  margin-bottom: 6px;
}

.theme-switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark-mode {

  background-color: #333;
  color: white;
}

body.dark-mode header {

  background-color: #444;
}

body.dark-mode .modal-content {

  background-color: #444;
}

body.dark-mode #submitIncome {

  background-color: #333;
  border: 1px solid #333;
}

body.dark-mode #submitExpense {

  background-color: #333;
  border: 1px solid #333;
}

body.dark-mode #submitIncome:hover {

  background-color: #222;
  border: 1px solid #222;
}

body.dark-mode #submitExpense:hover {

  background-color: #222;
  border: 1px solid #222;
}

#this {

  margin-right: 10px;
}

#settingsModalLabel {

  margin-left: 20px;
}

#settings {

  text-decoration: underline;
  cursor: pointer;
}

#error {

  color: red;
  text-align: center;
}

#error1 {

  color: red;
  text-align: center;
}

#error2 {

  color: red;
  text-align: center;
}

#special-color {

  color: #9ABDE6;
}

#income-btn {

  background-color: #68F553;
  border: 1px solid #68F553;
}

#income-btn:hover {

  background-color: green;
  border: 1px solid green;
}

#expense-btn {

  background-color: #E07574;
  border: 1px solid #E07574;
}

#expense-btn:hover {

  background-color: red;
  border: 1px solid red;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #999;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

#scrollToTopBtn:hover {
  background-color: #888;
}

body.dark-mode #scrollToTopBtn {

  background-color: #444;
}

body.dark-mode #scrollToTopBtn:hover {

  background-color: #333;
}

@media (max-width: 768px) {

  header {

    padding: 15px;
  }

  .tracker {
    flex-direction: column;
    width: 100%;
  }

  .income-tracker,
  .expense-tracker {

    margin: 20px 0;
  }

  .header-buttons {

    height: 60px;
    width: 60px;
  }

  .shown-input {

    font-size: 35px;
  }

  .income-tracker,
  .expense-tracker {

    border: 0;
    border-radius: 0;
    border-bottom: 5px solid #DBDBDC;
  }

  body.dark-mode .income-tracker,
  body.dark-mode .expense-tracker {

    border: 0;
    border-radius: 0;
    border-bottom: 5px solid #555;
  }
  #adding-btns {

    display: flex;
    flex-direction: column;
  }

  #income-btn,
  #expense-btn {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}