* {

    font-family: "Raleway", sans-serif;
}

header {

    color: #7482E1;
    background-color: #DBDBDC;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

h1  {

    font-size: 50px;
}

.header-buttons {

    font-size: 20px;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.modal-body {

    margin: 10px 0;
}

.modal-header {

    border: 0;
}

.modal-header .modal-title {
    
    width: 100%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group span {
    margin-right: 5px;
  }
  
  .form-control {
    
    margin: 10px 0;
    width: auto;
    flex-grow: 1;
  }

  .form-control:focus {

    outline: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .btn-primary {

    background-color: #7482E1;
  }

  .btn-primary:hover {

    background-color: #2374F7;
  }

.modal-footer {

    border: 0;
}

.shown-input {

  margin: 50px;
  color: #7482E1;
}

.tracker {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.income-tracker, .expense-tracker {

  border: 5px solid #7482E1;
  border-radius: 20px;
  flex: 1;
  margin: 0 10px; 
}

.tracker-h2 {

  text-align: center;
  color: #7482E1;
  margin: 20px;
}

.graph-container {

  display: flex;
  flex-direction: row;
}

.graph {

  margin: 50px 0;
  text-align: center;
  color: #7482E1;
}

.container {

  margin-top: 60px;
}

footer {

  display: flex;
  justify-content: center;
  align-items: center; 
  color: #7482E1;
  padding: 10px;
}

footer a {

  color: inherit;
}

#error {

  color: red;
  text-align: center;
}

#error1 {

  color: red;
  text-align: center;
}

#error2 {

  color: red;
  text-align: center;
}

#special-color {

  color: #9ABDE6;
}

#income-btn {

    background-color: #68F553;
    border: 1px solid #68F553;
}

#income-btn:hover {

  background-color: green;
  border: 1px solid green;
}

#expense-btn {

    background-color: #E07574;
    border: 1px solid #E07574;
}

#expense-btn:hover {

  background-color: red;
  border: 1px solid red;
}

/* #pie-graph {

  width: 10
} */

@media (max-width: 768px) {

  header {

    padding: 15px;
}

  .tracker {
    flex-direction: column;
    width: 100%;
  }

  .income-tracker, .expense-tracker {
    
    margin: 20px 0;
}

  .header-buttons {

    height: 60px;
    width: 60px;
  }

  .shown-input {

    font-size: 35px;
  }

  .income-tracker, .expense-tracker {

    border: 0;
    border-radius: 0;
    border-bottom: 5px solid #DBDBDC;
  }

  #adding-btns {

    display: flex;
    flex-direction: column;
  }

  #income-btn, #expense-btn {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}